{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <h1>{{ site.name }}</h1>
   
    <table class="table">
        <tbody>
            <tr>
                <th>no</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>nom</th>
                <td>{{ site.name }}</td>
            </tr>
            <tr>
                <th>lien de l'image</th>
                <td>{{ site.image }}</td>
            </tr>
            <tr>
                <th>description du site</th>
                <td>{{ site.siteDescription }}</td>
            </tr>
            <tr>
                <th>culture ou période</th>
                <td>{{ site.siteCulture }}</td>
            </tr>
            <tr>
                <th>pays</th>
                <td>{{ site.siteCountry }}</td>
            </tr>
            <tr>
                <th>latitude</th>
                <td>{{ site.siteLatitude }}</td>
            </tr>
            <tr>
                <th>longitude</th>
                <td>{{ site.siteLongitude }}</td>
            </tr>
            <tr>
                <th>lien du site officiel</th>
                <td>{{ site.siteUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-2" href="{{ path('app_site_index') }}">retour à la liste</a>

    <a class="btn btn-warning mb-2" href="{{ path('app_site_edit', {'id': site.id}) }}">modifier</a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
