{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Item_description</th>
                <th>Discovery_description</th>
                <th>Creation_date</th>
                <th>Discovery_date</th>
                <th>Item_latitude</th>
                <th>Item_longitude</th>
                <th>Item_country</th>
                <th>Item_culture</th>
                <th>Item_materials</th>
                <th>Item_conservation_site</th>
                <th>Item_conservation_site_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.image }}</td>
                <td>{{ item.itemDescription }}</td>
                <td>{{ item.discoveryDescription }}</td>
                <td>{{ item.creationDate }}</td>
                <td>{{ item.discoveryDate }}</td>
                <td>{{ item.itemLatitude }}</td>
                <td>{{ item.itemLongitude }}</td>
                <td>{{ item.itemCountry }}</td>
                <td>{{ item.itemCulture }}</td>
                <td>{{ item.itemMaterials }}</td>
                <td>{{ item.itemConservationSite }}</td>
                <td>{{ item.itemConservationSiteUrl }}</td>
                <td>
                    <a href="{{ path('app_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_new') }}">Create new</a>
{% endblock %}
